{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="container-md-2">
            Asistencia
            <div class="input-group mb-3">
                <div class="input-group-text">
                  <input type="checkbox" aria-label="Checkbox for following text input">
                </div>
            </div>
        </div>

        <div class="container-md-2">
            column
        </div>
        
        <div class="container-md-2">
            column
        </div>

        <div class="container-md-2">
            column
        </div>
    </div>

</div>
{% endblock content %}